.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 24px;
  top: 28px;
  z-index: 4;
}
.menu {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #868686;
}

@media only screen and (min-width: 360px) {
  .nav {
    /* display: none; */
    left: 30px;
    width: 87%;
  }
  .menu {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav {
    left: 143px;
    width: 400px;
  }
  .menu {
    display: flex;
  }
}
