.fotogw {
  position: absolute;
  z-index: 2;
  height: 607px;
  width: 510px;
  /* bottom: 0px; */
  top: 88px;
  right: 208px;
}

.bgcol {
  position: absolute;
  background-color: #66a68f;
  width: 320px;
  height: 695px;
  right: 282px;
}

.sex {
  height: 695xpx;
  display: flex;
}

body {
  background-color: #1d2220;
}
.headline {
  z-index: 3;
  position: absolute;
  left: 143px;
  top: 154px;
  font-family: "Fugaz One", cursive;
}
.namagw {
  font-family: "Fugaz One", normal;
  font-size: 72px;
  color: white;
  font-weight: 400;
  font-size: 80px;
  line-height: 88px;
}
.bungkus {
  position: absolute;
  bottom: 80px;
  left: 143px;
}
.garis {
  /* position: absolute; */
  width: 5px;
  height: 40px;
  top: 506px;
  background: #66a68f;
}
.by {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.work {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #868686;
}
.kantor {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #4ebe96;
}
.deskripsi {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #868686;
}
* {
  font-family: Poppins;
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 360px) {
  .sex{
    height: 1032px;
  }
  
  .fotogw {
    position: relative;
    bottom: 0;
    left: 0;
  }

  .headline{
    left: 30px;
  }

  .deskripsi{
    font-size: 14px;
  }

  .namagw {
    font-size: 40px;
    line-height: 48px;
  }

  .bgcol{
    width: 320px;
    right: 0px;
  }
}